nav {
    justify-content: center;
    align-items: center;
    color: white;
    background-color: indianred;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    font-size: x-large;
    font-family: "Rubik Storm", system-ui;

}